<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="myArm3">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import myArm3 urdf file -->
    <xacro:include filename="$(find myArm3)/urdf/myArm3.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="myArm3.ros2_control.xacro" />


    <xacro:myArm3_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
